p, select {
  font-family: 'Roboto', Helvetica Neue, Helvetica, sans-serif;
}

#map {
  height: calc(100% - 20px);
  width: 100%;
  position: absolute !important;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
}

#profile {
  position: absolute !important;
  width: 25rem;
  right: 8%;
  top: 10%;
  z-index: 1;
}

.profile, .info {
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.profile, .info h4 {
  margin: 0 0 5px;
  color: #777;
}
.profile {
  width: 300px;
  padding: 6px 20px;
  font-size: 18px;
}
.dropdown {
  width: 85%;
  border: 1px solid #ccc;
  border-radius: .2em;
  cursor: pointer;
  box-sizing: border-box;
  padding: .3em .45em;
  transition: all .3s;
  height: 2.1em;
}
.legend {
  padding: 6px;
    line-height: 18px;
    color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.winner {
  padding: 2px 4px;
  border-radius: .2em;
  background-color: #F3F315;
}
